.movie_info {
	width: 100%;
	margin-top: 40px;
	font-family: 'Marmelad', sans-serif;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	justify-content: center;

	&__poster {
		margin-right: 40px;

		img {
			width: 340px;
			height: 500px;
			box-shadow: 0px 0px 12px 2px rgb(110, 110, 110);
			border-radius: 26px;
			object-fit: fill;
		}
	}

	&__text {
		flex: 0 1 45%;
	}
}
