.header_block {
	position: relative;
	top: 0;
	left: 0;
	display: flex;
	padding: 15px 0;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
	z-index: 100;

	&__logo_row {
		display: flex;
		align-items: center;
	}

	&__navigation {
		display: flex;
		align-items: center;
	}
}

@media (max-width: 800px) {
	.header_block {
		flex-direction: column;
	}
}

@media (max-width: 500px) {
	.header_block__navigation {
		flex-direction: column-reverse;
	}
}
