.movie_similar {
	width: 85%;
	margin-top: 100px;
	border: 1px solid rgba(0, 0, 0, 0);

	h3 {
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 26px;
		font-weight: 700;
		margin: 0px 0px 20px 30px;
	}

	&__slider_item {
		padding: 10px;
	}

	&__slider_card {
		display: block;
		height: 300px;
		padding: 10px;
		border: 1px solid white;
		box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.514);
		transition: all 0.3s ease;

		img {
			width: 180px;
			height: 225px;
			object-fit: fill;
			box-shadow: 0 0 3px rgba(255, 255, 255, 0.514);
		}

		h4 {
			margin-top: 4px;
			text-align: center;
		}
	}

	&__slider_card:hover {
		background-color: rgb(68, 68, 68);
		animation-name: shadowAnim;
		animation-duration: 0.5s;
		animation-iteration-count: infinite;
		animation-direction: alternate;
	}
}

.movie_similar :global(.slick-slide) {
	height: 100%;
}

@keyframes shadowAnim {
	0% {
		box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.514);
	}
	100% {
		box-shadow: 0 0 8px 1px rgba(255, 255, 255, 0.914);
	}
}
