.movie_similar {
	width: 85%;
	margin-top: 100px;

	h3 {
		font-family: 'Montserrat Alternates', sans-serif;
		font-size: 28px;
		font-weight: 700;
		margin: 0px 0px 20px 30px;
	}

	&__slider_item {
		padding: 8px;
		height: max-content;
	}
	&__slider_card {
		display: block;
		height: 315px;
		padding: 10px;
		border: 1px solid white;
		box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.514);

		img {
			width: 180px;
			height: 235px;
			object-fit: fill;
			box-shadow: 0 0 3px rgba(255, 255, 255, 0.514);
		}

		h4 {
			margin-top: 4px;
			text-align: center;
		}
	}
}
.movie_similar :global(.slick-slide) {
	height: 100%;
}
